.banners {

    &__slider {
        position: relative;
    }

    &__list {
        @include clear-list;
    }

    &__item {
        margin: 0 -10px;
    }

    &__slider-pagination {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

