.banners {

    &__slider {
        position: relative;
        margin-left: calc((100vw - 100%) / 2 * -1);
        margin-right: calc((100vw - 100%) / 2 * -1);
    }

    &__list {
        @include clear-list;
    }


    &__slider-pagination {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

