.best-selling {
    color: #000000;
    &__container {
        width: 100%;
    }

    &__header {
        margin-bottom: 25px;
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
        line-height: 44px;
        text-align: center;
        margin: 0 auto;
    }

    &__gender-switch {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 79px;

    }

    &__gender-button {
        width: 141px;
        height: 35px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        text-align: center;
        box-shadow: none;        
    }

    &__catalog-wrapper {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    &__button {
        margin: 25px auto 0;
    }
}