.feedback-card {
    background-color: #F3F3F3;
    height: 266px;
    border: 2px solid #DEDEDE;
    border-radius: 25px;
    max-width: 300px;

    &__wrapper {
        padding: 20px 25px 25px;
    }
    &__img {
    }
    &__main {
    }
    &__client-name {
    }
    &__text {
    }
}
