.feedback {
    color: #000000;

    &__container {
        width: 100%;
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
        line-height: 44px;
        text-align: center;
        margin-bottom: 38px;

        @media (min-width: 768px) {
            font-size: 45px;
            line-height: 62px;
            margin-bottom: 21px;
        }

        @media (min-width: 1280px) {
            margin-bottom: 51px;
        }
    }

    &__title-description {
        display: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }

    &__feedback-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        @media (min-width: 1280px) {
            flex-direction: row;
            gap: 68px;
        }
        }

    &__feedback-card {
        width: 100%;
    }
}