.feedback {
    color: #000000;

    &__container {
        max-width: 300px;
        height: 100%;
        margin: 0 auto;
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
        line-height: 44px;
        text-align: center;
    }

    &__title-description {
        display: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }

    &__feedback-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__feedback-card {
        width: 100%;
    }
}