.hero {

    &__container {
        width: 100%;
    }

    &__hero-text {
        max-width: 300px;
        margin-bottom: 22px;
        
        @media (min-width: 768px) and (max-width: 1280px) {
            max-width: 1280px;
            margin-bottom: 72px;
        }
    }

    &__button {
        width: 300px;
        height: 55px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 31px;

        @media (min-width: 768px) and (max-width: 1280px) {
            width: 458px;
            height: 87px;
            font-size: 28px;
            line-height: 43px;
        }
    }

    &__hero-product {
        margin-top: 54px;
        margin-left: calc((100vw - 100%) / 2 * -1);
        margin-right: calc((100vw - 100%) / 2 * -1);

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-top: 72px;
        }
    }
}


