.main-slider {
    background-color: #000000;
    width: 100%;
    display: flex;
    gap: 40px;
    overflow: hidden;
    align-items: center;

    a {
        width: 100%;
        padding: 20px;
    }

    img {
        height: 16px;
        display: block;

        @media (min-width: 768px) {
            height: 40px;
        }
    }

    &__ozon {
        width: 73px;

        @media (min-width: 768px) {
            width: 181px;
        }
    }

    &__wb {
        width: 107px;

        @media (min-width: 768px) {
            width: 266px;
        }
    }

    &__sber {
        width: 120px;

        @media (min-width: 768px) {
            width: 299px;
        }
    }

    &__yandex {
        width: 120px;

        @media (min-width: 768px) {
            width: 209px;
        }
    }
}