.main-nav {
    background-color: #fff;


    &__container {
        display: flex;
        align-items: center;
        margin-top: 15px;
        justify-content: space-between;

        @media (max-width: 767px) {
            padding-right: 46px;
        }

        @media (min-width: 768px) and (max-width: 1279px) {
            margin-top: 20px;
        }

        @media (min-width: 1280px) {
            margin-top: 77px;
        }
    }

    &__logo {

        img {
            width: 94px;
            height: 32px;
        }

        @media (max-width: 767px) {
            img {
                width: 75px;
                height: 25px;
            }
        }
    }

    &__contacts {
        display: none;
    }

    &__menu {
        display: none;
        
        @media (max-width: 767px) {
            position: fixed;
            padding-top: 76px;
            top: 0%;
            right: 0%;
            width: 50vw;
            height: 100vh;
            z-index: 100;
            background-color: #EBEBEB;
            box-shadow: 0px 2.32px 1.97px 0px #00000006,
             0px 5.39px 4.58px 0px #00000009,
             0px 9.68px 8.22px 0px #0000000B,
             0px 16.06px 13.65px 0px #0000000C,
             0px 26.45px 22.49px 0px #0000000E,
             0px 46.23px 39.3px 0px #00000011,
             0px 100px 85px 0px #00000017,
        }

        @media (min-width:768px) {
            display: block;
            }

        &--showed {

            @media (max-width:767px) {
                display: flex;
                flex-direction: column;

                .main-nav__contacts {
                    display: block;
                    margin-top: auto;
                }
            }
        }
    }

    &__list {
        
        @include clear-list;

        @media (min-width:768px) {
            display: flex;
            gap: 25px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__item {
        color: #000000;
        font-size: 16px;
        line-height: 25px;

        @media (min-width: 1280px) {
            font-size: 24px;
            line-height: 37px;
        }

        @media (max-width: 767px) {
            text-align: end;
            font-size: 20px;
            line-height: 30px;
        }

        a {
            display: block;
            transition: 0.3s;

            @media (max-width: 767px) {
                padding: 10px;
                background-color: #F6F6F6;
                border: 1px solid #D9D9D9;
            }

            &:hover {
                @media (min-width: 1280px) {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__nav-button {
        display: flex;
        justify-content: space-between;
        width: 115px;
        height: 33px;
        position: relative;
        z-index: 101;
        padding-right: 5px;
        
        @media (max-width: 767px) {
            width: 71px;
            padding-right: 6px;
        }
    }

    &__description {
        font-size: 12px;
        line-height: 19px;
        text-align: right;
        color: #000000BF;
        margin-right: 10px;
        margin-bottom: 13px; 
    }

    &__social {
        @include clear-list;
        
        display: flex;
        justify-content: end;
        gap: 1px;
        margin-right: 2px;
        margin-bottom: 21px;
    }

    &__nav-burger {
        padding: 7px;
        position: absolute;
        z-index: 101;
        top: 14px;
        right: 8px;
    }
}