.main-page {

    background-color: #FFFFFF;

    &__hero {
        margin-top: 42px;
        margin-bottom: 0;

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-top: 59px;
        }
    }

    &__main-slider {
        height: 63px;

        @media (min-width: 768px) and (max-width: 1280px) {
            height: 131px;
        }

        @media (min-width: 1280px) {
            height: 162px;
        }
    }

    &__trends {
        margin-top: 57px;
        margin-bottom: 49px;

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-top: 66px;
            margin-bottom: 100px;
        }
    }

    &__banners {
        margin-bottom: 38px;

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-bottom: 88px;
        }
    }

    &__best-selling {
        margin-bottom: 70px;
    }

    &__feedback {
        margin-bottom: 49px;

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-bottom: 70px;
        }
    }
}