.main-nav {
    background-color: #fff;

    &__container {
        display: flex;
        align-items: center;
        margin-top: 15px;
        justify-content: space-between;

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-top: 20px;
        }

        @media (min-width: 1280px) {
            margin-top: 77px;
        }
    }

    &__logo {

        img {
            width: 94px;
            height: 32px;
        }

        @media (max-width: 768px) {
            img {
                width: 75px;
                height: 25px;
            }
        }

        @media (min-width: 1280px) {}
    }

    &__list {
        @include clear-list;
        display: none;

        &--showed {
            display: block;
        }

        @media (min-width:768px) {
            display: flex;
            gap: 25px;
            margin-left: auto;
            margin-right: auto;
        }

    }

    &__item {
        color: #000000;
        font-size: 16px;
        line-height: 25px;

        @media (min-width: 1280px) {
            font-size: 24px;
            line-height: 37px;
        }
    }

    &__nav-button {
        display: flex;
        justify-content: space-between;
        width: 115px;
        height: 33px;
    }
}