.main-page {

    background-color: #FFFFFF;

    &__hero {
        margin-top: 59px;
        margin-bottom: 0;
    }

    &__main-slider {
        height: 63px;
    }

    &__trends {
        margin-top: 57px;
        margin-bottom: 49px;
    }

    &__banners {
        
    }

}