.social {
    @include clear-list;
    display: flex;
    gap: 1px;
    
    &__item {

        a {
            display: block;
            padding: 10px;
        }

        img {
            width: 24px;
            height: 18px;
        }
    }
}