.trends-card {
    background-color: #D9D9D926;
    height: 359px;
    border: 2px solid #DEDEDE;
    border-radius: 15px;
    max-width: 300px;

    &__wrapper {
        padding: 0 35px 30px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
    }

    &__img {
        width: 100%;
        margin: auto;
        rotate: -15deg;
        filter:
            drop-shadow(0px 2.77px 2.21px #00000005)
            drop-shadow(0px 6.65px 5.32px #00000007)
            drop-shadow(0px 12.52px 10.02px #00000009)
            drop-shadow(0px 22.34px 17.87px #0000000B)
            drop-shadow(0px 41.78px 33.42px #0000000D)
            drop-shadow(0px 100px 80px #00000012);
    }

    &__title {
        font-size: 21px;
        font-weight: 500;
        line-height: 25px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        align-content: center;
        text-decoration: none;
        
        &--old {
            display: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-decoration: line-through;
        }
    }


    &__share-button {
        width: 40px;
        aspect-ratio: 1/1;
    }
}