.trends {
    color: #000000;


    &__container {
        width: 100%;

        @media (min-width: 768px) and (max-width: 1280px) {
            display: flex;
            justify-content: center;
            gap: max(11vw, 87px)
        }

        @media (min-width: 1280px) {
            display: flex;
            justify-content: center;
            // gap: max(11vw, 87px)
        }
    }

    &__text {
        margin-bottom: 34px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) and (max-width: 1280px) {
            width: 290px;
            margin: 0;
        }

        @media (min-width: 1280px) {
            width: min-content;
            margin-left: 0;
            justify-content: start;
        }
    }

    &__description {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;

        &::before {
            width: 47px;
            height: 2px;
            background-color: #000000;
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 22px;
        }

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-top: 14px;
        }

        @media (min-width: 1280px) {
            margin-top: 41px;
        }
    }

    &__popular {
        font-size: 45px;
        font-weight: 500;
        line-height: 54px;
        margin-top: 15px;
        margin-bottom: 24px;
    }

    &__slogan {
        color: #000000BF;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;

        @media (min-width: 768px) {
            margin-bottom: 27px;
        }

    }

    &__button {

        @media (max-width: 768px) {
            display: none;
            width: 300px;
            height: 55px;
        }

        @media (min-width: 768px) {
            display: block;
            width: 290px;
            height: 77px;
        }

        &--showed {
            @media (max-width: 768px) {
                display: block;
            }

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    &__list-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media (min-width: 1280px) {
            width: 68%;
        }
    }

    &__product-list {
        @include clear-list;

        @media (min-width: 768px) {
            display: flex;
        }

        @media (min-width: 1280px) {
            justify-content: space-between;
        }
    }

    &__product-card {
        width: 100%;
        max-width: 309px;
    }

    &__slider-button {
        @media (min-width: 768px) {
            @include clear-button;
            position: absolute;
        }

        &--left {
            @media (min-width: 768px) {
                top: 40%;
                left: -21px;
            }
            
            @media (min-width: 1280px) {
                left: -50px;
            }
        }

        &--right {
            @media (min-width: 768px) {
                top: 40%;
                right: -21px;
                rotate: 180deg;
            }
            
            @media (min-width: 1280px) {
                right: -50px;
            }
        }
    }

    &__slider-pagination {
        margin-top: 18px;
        margin-bottom: 30px;

        @media (min-width: 768px) and (max-width: 1280px) {
            margin-top: 30px;
            margin-bottom: 0;
        }

        @media (min-width: 1280px) {
            margin-top: 50px;
            margin-bottom: 0;
        }
    }
}